<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ app.request.locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ app.request.locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ app.request.locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {#<!-- <meta http-equiv="Content-Type" content="text/html"/> -->#}
    <!--[if ie]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->
    <title>{% block titulo %}{% endblock %} Cal Menescal</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {#<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">#}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/main/css/main.css') }}" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
    <link type="image/png" href="{{ asset('bundles/main/images/favicon.png') }}" rel="shortcut icon"/>
    <link type="image/x-icon" href="{{ asset('bundles/main/images/favicon.ico') }}" rel="icon"/>
    <script src="{{ asset('bundles/main/js/vendor/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/vendor/modernizr-2.6.1.min.js') }}"></script>
    {% block recursos %}{% endblock %}
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<header>
    <div class="constrictor clearfix">
        <h1 class="invisible">Celler Cal Menescal</h1>
        <a href="{{ path('home_' ~ app.request.locale) }}"><img src="{{ asset('bundles/main/images/header.jpg') }}" alt="Celler Cal Menescal logo" title="Cal Menescal"></a>
        {{ knp_menu_render(app.request.locale ~ 'top', {depth : 1}) }}
        <h6></h6>
    </div>
</header>
<div id="principal">
    {% block principal %}{% endblock %}
</div>
<footer>
    <div class="constrictor clearfix">
        <div class="base">
            <div class="columna uno">
                <p>
                    C/ Joan Amades, 2<br/>
                    43785 Bot (Tarragona)<br/>
                    Spain
                </p>
            </div>
            <div class="columna dos">
                <p>
                    (+34) 977 428 095<br/>
                    <a href="mailto:info@cellermenescal.com">info@cellermenescal.com</a>
                </p>
            </div>
            <div class="columna tres">
                <p>
                    <a href="https://www.facebook.com/cellermenescal" target="_blank"><img src="{{ asset('bundles/main/images/facebook.png') }}" alt="Facebook logo" title="Facebook logo"></a>
                    <a href="https://twitter.com/celler_menescal" target="_blank"><img src="{{ asset('bundles/main/images/twitter.png') }}" alt="Twitter logo" title="Twitter logo"></a>
                    <a href="https://plus.google.com/112806273735312964344/about" target="_blank"><img src="{{ asset('bundles/main/images/googleplus.png') }}" alt="Google+ logo"></a>
                </p>
            </div>
            <div class="columnafinal">
                <p>
                    {% block peuidiomes %}{% endblock %}
                    <a href="{{ path( 'privacitat_' ~ app.request.locale ) }}">{% trans %}instrucciones.privacidad{% endtrans %}</a> ·
                    <a href="{{ path( 'credits_' ~ app.request.locale ) }}">{% trans %}instrucciones.creditos{% endtrans %}</a> ·
                    ©{{ "now" | date('Y') }}
                </p>
            </div>
        </div>
    </div>
</footer>
{% block analytics %}
    {#<!-- Google Analytics -->#}
    {% if google_analytics_enabled %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ google_analytics_account }}', 'auto'); ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}
</body>
</html>